.layout {
  display: flex;
  min-height: 100vh;
}

.logo {
  border-right: 1px solid var(--separator-color);
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}
