:root {
  --font: "Open Sans", sans-serif;
  --primary-color: #fe724c;
  --primary-hover-color: #e6603b;
  --text-color: #000000;
  --text-secondary-color: #5b5b5e;
  --main-color: #ffffff;
  --separator-color: #d4d6e0;
}

body {
  font-family: "Open Sans", sans-serif;
}
